body {
    margin: 0;
    background-color: lavenderblush;
    text-align: center;
}

h1 {
    padding: 20px;
}

p {
    border: 2px solid;
    border-radius: 5px;
}

div.gallery {
    margin: 5px;
    border: 1px solid;
    float: left;
    width: 200px;
  }
  
  div.gallery:hover {
    border: 1px solid;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }